@model IEnumerable<Item>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Here is your shopping list</h1>
<a class="btn btn-primary" asp-action="Index" asp-controller="ManageItem" >Add Item</a>
<div class="container">
    <div class="row">
        @foreach(var item in Model){
            @if (item.IsDone)
            {
                <div class="card m-2" style="width: 18rem; opacity: 50%;">
                    <a href="" class="btn text-start mb-2 p-0">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title    <i class=" float-end fa-solid fa-check"></i></h5>
                            <p class="card-text text-muted m-0">@item.Description</p>
                            <p class="card-text  ">From here: @item.FromWhere</p>
                        </div>
                    </a>
                    <div class="d-flex flex-column align-items-center">
                        <a href="#" class="btn btn-primary mb-2 w-75 disabled">Edit</a>
                        <a href="#" class="btn btn-danger mb-2 w-75">Delete</a>
                    </div>
                </div>
            }
            else
            {
                <div class="card m-2" style="width: 18rem;">
                    <a href="#" class="btn text-start mb-2 p-0">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text text-muted m-0">@item.Description</p>
                            <p class="card-text  ">From here: @item.FromWhere</p>
                        </div>
                    </a>
                    <div class="d-flex flex-column align-items-center">
                    <a href="#" class="btn btn-primary mb-2 w-75">Edit</a>
                    <a href="#" class="btn btn-danger mb-2 w-75">Delete</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
